.calculator {

}

.calculator_keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  position: relative;
  margin: auto;
  border: 3px black solid;
  width: 400px;
  height: 400px; 
  font-size: large;
}

.calculator_display {
  margin: auto;
  position: relative;
  border: 3px black solid;
  border-bottom: none;
  width: 400px;
  height: 100px;
  font-size: large;
  font-weight: bolder;
  text-align: right;
  text: ;
}

.calculator_keys {
  background-color: burlywood;
  color: black;
}





