*,
*::before,
*::after {
  box-sizing: inherit;
}

.calculator {
  border-radius: 12px;
}

.calculator__keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  position: relative;
  margin: auto;
  border: 3px black solid;
  width: 400px;
  height: 400px; 
  font-size: large;
  background-color: azure;
  color: black;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__display {
  margin: auto;
  position: relative;
  background-color: black;
  color: white;
  border: 3px black solid;
  border-bottom: none;
  width: 400px;
  height: 100px;
  font-size: large;
  font-weight: bolder;
  text-align: right;
  text: ;
}


input, textarea, button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}





